@charset "UTF-8";

#admin_body {
	margin: 0%;
}

#admin_header {
	text-align: center;
	margin: auto;
	padding: 1%;
	background: peachpuff;
	width: 50%;
}

#admin_panel {
	margin: auto;
	width: 50%;
	background: lavender;
	margin-top: 2%;
	padding: 1%;
}

#admin_search {
/* 	border: 1px solid red; */
	text-align: center;
	margin-bottom: 2%;
}

#admin_search b {
	font-size: 150%;
}

#admin_cont {
/* 	border: 1px solid orange; */
}

#admin_cont_title {
/* 	border: 2px solid yellow; */
	margin-bottom: 2%;
	font-size: 120%;
}

#admin_cont_list {
/* 	border: 2px solid purple; */
}

.a_text{
	float: left;
	width: 20%;
}

/* #admin_cont_list b {
	margin-right: 10%;
} */

#admin_member {
	width: 40%;
	margin: auto;
	background: antiquewhite;
	display: none;
	padding: 1%;
	margin-top: 2%;
	border-radius: 20px;
}

#info_title{
	font-size: 200%;
	font-weight: bold;
}

#admin_member_header{
	text-align: center;
	margin-bottom: 5%;
}

#admin_member_cont{
 	margin-left: 23%; 
}

.member_text{
	float: left;
	width: 45%;
}

#admin_member_pwd{
	text-align: center;	
	margin-top: 7%;
	margin-bottom: 1%;
}

#member_button{
	text-align: center;
}

#admin_info_close{
	margin-top: 2%;
	text-align: center;
}

#admin_page_number {
	margin: 10px 0 10px 0;
	font-weight: bold;
}

#admin_page_number a:link {
	color: black;
	text-decoration: none;
}

#admin_page_number a:hover {
	color: gray;
	text-decoration: underline;
}

#admin_page_number a:active {
	color: aqua;
	text-decoration: none;
}