@charset "UTF-8";
body{
	background-color:beige;
}
.search-form{
	text-align:center;
}
.gong{
	width:50%;
	margin: 5% 0px 0px 25%;
}
/* 체크박스 표시 */
input[id*="answer"]{
	display:none;
}
/* 공지사항 메뉴바 */
input[id*="answer"] + label{
	display:block;
	padding:20px;
	border:1px solid #000000;
	border-bottom:0;
	color:#000000;
	font-weight:900;
	background:#ffffff;
	cursor:pointer;
	position:relative;
	
}
input[id*="answer"] + label :hover{
	text-decoration: underline; font-weight:bold; color:#F90;
}

/* 화살표 이미지 */
input[id*="answer"] + label em{
	position:absolute;
	top:50%;
	right:10px;
	width:30px;
	height:30px;
	margin-top:-15px;
	display:inline-block;
	background:url('../images/picture/arrow.png') 0 0 no-repeat;
}
/* 공지사항 내용 */
input[id*="answer"] + label + div{
	border:1px solid #000000;
	max-height:0;
	transition: all .35s;
	overflow:hidden;
	background:#ebf8ff;
	font-size:11px;
	text-align:center;
}

/* 공지사항 내용 글자 */
input[id*="answer"] + label + div p{
	display:inline-block;
	padding:20px;
	text-align:center;
}
input[id*="answer"]:checked + label + div {
	max-height:100px;
}

input[id*="answer"]:checked + label em {
	background-position:0 -30px;
}