@charset "UTF-8";
a{
	text-decoration: none;
}

body{
	background-image:url('../images/picture/food_image.jpg');
	background-repeat: no-repeat;
	background-size:100% 100%;
}
.search-form{
	text-align:center;
	padding:10px;
}
.search-form .hidden2{
	  color: #ffa315;
	  text-shadow:2px 2px #000000;
	  font-size:200%;
}
.gong{
	width:50%;
	margin: 5% 0px 0px 25%;
}
/* 체크박스 표시 */
input[id*="answer"]{
	display:none;
}
/* 공지사항 메뉴바 */
input[id*="answer"] + label{
	display:block;
	padding:20px;
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	color:#000000;
	font-weight:900;
	background:#ffffff;
	cursor:pointer;
	position:relative;
	
}
input[id*="answer"] + label :hover{
	text-decoration: underline; font-weight:bold; color:#F90;
}

/* 화살표 이미지 */
input[id*="answer"] + label em{
	position:absolute;
	top:50%;
	right:10px;
	width:30px;
	height:30px;
	margin-top:-15px;
	display:inline-block;
	background:url('../images/picture/arrow.png') 0 0 no-repeat;
}
/* 공지사항 내용 */
input[id*="answer"] + label + div{
	max-height:0;
	transition: all .35s;
	overflow:hidden;
	background:#ebf8ff;
	font-size:11px;
	text-align:center;
}

/* 공지사항 내용 글자 */
input[id*="answer"] + label + div p{
	display:inline-block;
	padding:20px;
	text-align:center;
}
input[id*="answer"]:checked + label + div {
	max-height:100px;
}

input[id*="answer"]:checked + label em {
	background-position:0 -30px;
}

.paging .current2{
	display:inline-block;
	width:30px; height:30px; line-height:28px;
	border:1px solid #cccccc;
	border:1px solid #123867;
	background:#123867; color:#fff;
	text-align:center;
	cursor:pointer;
}
#bottomPage{
	position: relative;
	width: 520px;
	height: 25px;
	margin: 10px 0 0 47%;
	align-content: center;
	z-index: 300;
}
#bottomPage .pageNum{
	border:1px solid #123867;
	background:#123867;
	color:#fff;
	display:inline-block;
	width:30px;
	height:30px;
	text-align:center;
	line-height:30px;
	
}
