@charset "UTF-8";

body{
	margin: 0px;
	padding: 0px;
}
#page_blur{
	display: none;
	position: fixed; 
	top: 0%; 
	left: 0%; 
	background: #000000; 
	z-index: 1000; 
}
/* 상단 메뉴바 */
#top_menubar{
	position: fixed;
	width: 100%;
	z-index: 2000; 
}
#top_login_join_btn{
	float: right;
	margin: 20px 60px 0 0;
}
#top_login_join_btn a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	text-shadow: 0 0 3px black;
}
#top_login_join_btn a:hover{
	color: #F90;
}
#top_login_join_btn a:active{
	color: #FF6347;
}
#top_search_icon{
	float: right;
	margin: 5px 10px 0 0;
}
#top_search_icon img{
	filter: drop-shadow(0 0 2px white);
}
#top_search_hide{
	width: 100%;
	height: 80px;
	margin: 15px 5px 0 0;
}
#top_search{
	float: right;
	width: 50%;
	height: 40px;
	margin: 15px 15px 0 0;
}
#top_search_input{
	float: right;
	border-radius: 15px;
	margin: 5px 10px 0 0;
	width: 0;
	height: 25px;
	opacity: 0;
}
#top_search_input:focus{
	outline: none;
}

/* 좌측 메뉴바 */
#left_menubar{
#main_Movebtn{
	padding: 0;
	width: 15px;
	height: 105px;
	margin-top: 20%;
	margin-left: 97%;
	position: fixed;
	z-index: 2000; 
}
#left_menubtn{
	position: fixed;
	float: left;
	filter: drop-shadow(0 0 2px black);
	margin: 20px 0 0 20px;
}
#left_menubtn img:hover{
	filter: drop-shadow(0 0 8px #F90);
	cursor: pointer;
}
#left_menubtn img:active{
	filter: drop-shadow(0 0 10px #FF6347);
	cursor: pointer;
}
#left_menu{
	position: fixed;
	float: left;
	background-color: #F5F5F5;
	opacity: 0;
	width: 0%;
	height: 100vh;
}
#left_logo{
	position: absolute;
	width: 100%;
	height: 160px;
	margin: 0 0 0 0;
}
#left_logo img{
	position: absolute;
	width: 100%;
	height: 100px;
	margin: 20px 0 0 0;
#main_Movebtn img{
	margin-top: 20px;
	filter: drop-shadow(0 0 1px #000000);
}
#left_sessionInfo{
	position: absolute;
	width: 100%;
	height: 60px;
	border-bottom: 2px solid #000000;
	margin: 160px 0 0 0;
	text-align: center;
	filter: drop-shadow(0 0 1px #505050);
}
#left_menuclosebtn{
	position: absolute;
	filter: drop-shadow(0 0 2px black);
	margin: 10px 0 0 102%;
}
#left_menuclosebtn img:hover{
#main_Movebtn img:hover{
	filter: drop-shadow(0 0 8px #F90);
	cursor: pointer;
}
#left_menuclosebtn img:active{
#main_Movebtn img:action{
	filter: drop-shadow(0 0 10px #FF6347);
	cursor: pointer;
}
#left_menulink{
	position: absolute;
	background-color: #F5F5F5;
	margin: 240px 0 0 0;
	width: 100%;
	height: 40%;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	padding: 40px 0 0 0;
	filter: drop-shadow(0 0 1px #505050);
}
#left_notice, #left_board, #left_news, #left_faq{
	width: 100%;
	height: 25%;
	text-align: center;
	filter: drop-shadow(0 0 1px #505050);
}
#left_notice a, #left_board a, #left_news a, #left_faq a{
	text-decoration: none;
	color: #252525;
	font-size: 20px;
}
#left_notice a:hover, #left_board a:hover, #left_news a:hover, #left_faq a:hover{
	color: #F90;
}
#left_notice a:active, #left_board a:active, #left_news a:active, #left_faq a:active{
	color: #FF6347;
	filter: drop-shadow(0 0 10px #FF6347);
}

/* 각 페이지 크기 지정 */
.content{
	width: 100%;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}

/* index_logo style */
#main_logo #main_img{
	width: 100%;
	height: 100vh;
}
#main_logo #main_logoimg{
	position: absolute;
	top: 28%;
	left: 22%;
	width: 60%;
	height: 40%;
	filter: drop-shadow(0 0 2px #FFFFFF);
}

/* 임시 페이지 */
#temp_top5{
	background-color: #FFA07A;
}
#temp_news{
	background-color: #FAFAD2;
}
#temp_ingr{
	background-color: #00FF7F;
}
#temp_footer{
	background-color: #4169E1;
}


/* top게시글 */
@charset "UTF-8";
.gallerylist {
   /*max-width:1200px;*/
   /*width:100%;*/
   /*margin:0 auto;*/
   background-color: beige;
   display:flex;
   flex-direction:row;
   flex-wrap:nowrap;
   justify-content:space-between;
   margin: 0;
   height: 100%;
}
ul {font-size:0; max-height: 50%;}

header ul > li {
   display:inline-block;
   vertical-align:top;
   width: 35%;
   margin: 0px 0px 0px 14%;
}
middle ul > li {
   display:inline-block;
   vertical-align:top;
   width:25%;
   margin: 0px 0px 0px 6%;
}
.screen1 img, .screen2 img, .screen3 img, .screen4 img, .screen5 img {
	height: 15%;
}
ul > li > a{
   display:block;
   width:auto;
   text-decoration: none;
   margin:20px;
}

ul > li > a .screen {
   position:relative;
   overflow:hidden;
}
ul > li > a .screen1 {
   position:relative;
   overflow:hidden;   
}
ul > li > a .screen3 {
   position:relative;
   overflow:hidden;   
}
ul > li > a .screen4 {
   position:relative;
   overflow:hidden;   
}
ul > li > a .screen5 {
   position:relative;
   overflow:hidden;   
}
ul > li > a .screen .top{
   position:absolute;
   bottom:150%;
   left:30px;
   z-index:2;
   color:#fff;
   font-size:26px;
   font-weight:900;
   transition:all .35s;
}
ul > li > a .screen1 .top{
   position:absolute;
   bottom:150%;
   left:30px;
   z-index:2;
   color:#fff;
   font-size:26px;
   font-weight:900;
   transition:all .35s;
}
ul > li > a .screen3 .top{
   position:absolute;
   bottom:150%;
   left:30px;
   z-index:2;
   color:#fff;
   font-size:26px;
   font-weight:900;
   transition:all .35s;
}
ul > li > a .screen4 .top{
   position:absolute;
   bottom:150%;
   left:30px;
   z-index:2;
   color:#fff;
   font-size:26px;
   font-weight:900;
   transition:all .35s;
}
ul > li > a .screen5 .top{
   position:absolute;
   bottom:150%;
   left:30px;
   z-index:2;
   color:#fff;
   font-size:26px;
   font-weight:900;
   transition:all .35s;
}
ul > li > a .screen .bottom {
   position:absolute;
   top:150%;
   left:30px;
   z-index:2;
   color:#fff;
   font-size:20px;
   transition:all .35s;
}
ul > li > a .screen1 .bottom {
   position:absolute;
   top:150%;
   left:30px;
   z-index:2;
   color:#fff;
   font-size:20px;
   transition:all .35s;
}
ul > li > a .screen3 .bottom {
   position:absolute;
   top:150%;
   left:30px;
   z-index:2;
   color:#fff;
   font-size:20px;
   transition:all .35s;
}
ul > li > a .screen4 .bottom {
   position:absolute;
   top:150%;
   left:30px;
   z-index:2;
   color:#fff;
   font-size:20px;
   transition:all .35s;
}
ul > li > a .screen5 .bottom {
   position:absolute;
   top:150%;
   left:30px;
   z-index:2;
   color:#fff;
   font-size:20px;
   transition:all .35s;
}
ul > li > a .screen img{
   width:100%;
   border-radius:30px;
}
ul > li > a .screen1 img{
   width:100%;
   border-radius:30px;

}
ul > li > a .screen3 img{
   width:100%;
   border-radius:30px;

}
ul > li > a .screen4 img{
   width:100%;
   border-radius:30px;
}
ul > li > a .screen5 img{
   width:100%;
   border-radius:30px;
}
ul > li > a h3{
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   font-size:20px;
   text-align:center;
   padding:10px;
   color:#666;
   border:2px solid black;
}

ul > li > a:hover .top {bottom:52%;}

ul > li > a:hover .bottom {top:52%;}

ul > li > a .screen::after {
   content:'';
   display:block;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background:rgba(0,0,0,.5);
   z-index:1;
   opacity:0;
   transition:all .35s;
   border-radius:30px;
}
ul > li > a .screen1::after {
   content:'';
   display:block;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background:rgba(0,0,0,.5);
   z-index:1;
   opacity:0;
   transition:all .35s;
   border-radius:30px;
}
ul > li > a .screen3::after {
   content:'';
   display:block;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background:rgba(0,0,0,.5);
   z-index:1;
   opacity:0;
   transition:all .35s;
   border-radius:30px;
}
ul > li > a .screen4::after {
   content:'';
   display:block;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background:rgba(0,0,0,.5);
   z-index:1;
   opacity:0;
   transition:all .35s;
   border-radius:30px;
}
ul > li > a .screen5::after {
   content:'';
   display:block;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background:rgba(0,0,0,.5);
   z-index:1;
   opacity:0;
   transition:all .35s;
   border-radius:30px;
}

ul > li > a:hover .screen::after {
   opacity:1;
}
ul > li > a:hover .screen1::after {
   opacity:1;
}
ul > li > a:hover .screen3::after {
   opacity:1;
}
ul > li > a:hover .screen4::after {
   opacity:1;
}
ul > li > a:hover .screen5::after {
   opacity:1;
}
header .h1{
   color: #ffa315;
   font-size: 300%;
   text-align:center;
   text-shadow:2px 2px #000000;
   background-color:#223246;
   margin: 0;
}
header hr{
   border:2px solid orange;
   margin: 0;
}



/* -------------------------핫뉴스 css 시작---------------------------  */
/*#temp_news { 
   margin-left:auto; margin-right:auto; 
     border: black dotted 2px;   
   width: 80%; background: center center #e8e6df; color:#04523e; 
}*/
.hn_title{
     
   position:relative; display:inline-block; font-size:48px; font-weight: bold;
   width: 100%; height: 15%;
   margin: 30px 0 30px 150px;
}

/** 첫번째 기사 **/

/*.one_wrap2{
   border: red dotted 1px;
   width: 40em; height: 0px;
   float: right;
}*/
.one_wrap{
   max-width: 60%; height: 20%;
   cursor: pointer;
   float: left;
   
}
.one_img_div{
   width: 100%; height: auto;
}
.one_img{
/*    width: 350px; */  max-width: 20%; min-width:10%;
/*    height: 200px; */ height: inherit;
   margin: 0 0 25px 25px;
   float: left;
   opacity: 1; transition: 0.2s all; /* 부드럽게 커지키위한 효과 */
   
}
.one_img:hover { 
   width: 360px; height: 210px;
   float: left;
   opacity:1;
   
}
.one_title{
   float: left;
   margin-top: 0px; margin-bottom: 0px;
   font-size: x-large; font-weight: bold;
   text-overflow: ellipsis; /*...표시*/
   width: 60%;
   white-space: nowrap; /*줄넘김x 한줄로 표시*/
   overflow: hidden; /*영역넘으면 표시안함*/
}
.one_cont{
   /*text-overflow: ellipsis; height: 180px;*/
   width: 60%;
   text-align: left;
   word-wrap: break-word;
   display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
   overflow: hidden;
   font-size: medium; font-weight: bold;
}


/** 두번째 기사 **/
.two_wrap{
   max-width: 60%; height: 20%;
   cursor: pointer;
   float: right;
   margin: 40px 0 40px 0;
}
/*.two_wrap2{
   border: red dotted 1px;
   width: 40em; height: 0px;
   float: left;
   
}*/
.two_img_div{
   width: 100%; height: auto;
}
.two_img{
   /*    width: 350px; */  max-width: 20%; min-width:10%;
   /*    height: 200px; */ height: inherit;
   margin: 0 0 25px 25px;
   float: left;
   opacity: 1; transition: 0.2s all;
}

.two_img:hover { 
   width: 360px; height: 210px;
   float: left;
   opacity:1;
}
.two_title{
    float: left;
   margin-top: 0px; margin-bottom: 0px;
   font-size: x-large; font-weight: bold;
   text-overflow: ellipsis; /*...표시*/
   width: 60%;
   white-space: nowrap; /*줄넘김x 한줄로 표시*/
   overflow: hidden; /*영역넘으면 표시안함*/
}
   
.two_cont{
    /*text-overflow: ellipsis; height: 180px;*/
   width: 60%;
   text-align: left;
   word-wrap: break-word;
   display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
   overflow: hidden;
   font-size: medium; font-weight: bold;
}


/* 세번째 기사 */

/*.one_wrap2{
   border: red dotted 1px;
   width: 40em; height: 0px;
   float: right;
}*/
.three_wrap{
   max-width: 60%; height: 20%;
   cursor: pointer;
   float: left;
   
}
.three_img_div{
   width: 100%; height: auto;
}
.three_img{
/*    width: 350px; */  max-width: 20%; min-width:10%;
/*    height: 200px; */ height: inherit;
   margin: 0 0 25px 25px;
   float: left;
   opacity: 1; transition: 0.2s all; /* 부드럽게 커지키위한 효과 */
   
}
.three_img:hover { 
   width: 360px; height: 210px;
   float: left;
   opacity:1;
   
}
.three_title{
   float: left;
   margin-top: 0px; margin-bottom: 0px;
   font-size: x-large; font-weight: bold;
   text-overflow: ellipsis; /*...표시*/
   width: 60%;
   white-space: nowrap; /*줄넘김x 한줄로 표시*/
   overflow: hidden; /*영역넘으면 표시안함*/
}
.three_cont{
   /*text-overflow: ellipsis; height: 180px;*/
   width: 60%;
   text-align: left;
   word-wrap: break-word;
   display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
   overflow: hidden;
   font-size: medium; font-weight: bold;
}

.newsRight { 
   float: left;
   right:0px; top:0px; 
   writing-mode:vertical-rl; 
   font-weight: bold;
   margin: 0 25px 0 0 ;   
}

.news_source{
   float: left;
   margin-bottom: 20px;
   font-weight: bold;
}
/* -----------------------------핫뉴스 css 끝------------------------- */



/* 이달의 추천재료 */
#main_cucheon_heading{
	text-align: center;
	padding: 20px;
	margin-bottom: 50px;
	background: aqua;
} /* 추천재료 페이지 상단 영역*/

.main_cucheon_cont_cont{
	margin-left: 10px;
}

#cucheon_title{
	font-size: 300%;
	background: lightblue;
} /* 추천재료 페이지 상단 영역 제목 */

#main_cucheon{
	margin: auto;
	border-radius: 20px;
	width: 60%;
	background: gray;
	padding: 10px;
} /* 추천페이지 내용물 껍데기 */

#main_cucheon_cont{
	padding: 10px;
	background: pink;
	height: 500px;
} /* 추천페이지 게시글 */

.cont_title{
	text-align: center;
} /* 추천페이지 각 게시글 제목 */

.food{
	text-align: center;	
}

#main_cucheon_cont_1{
	width: 30%;
	float: left;
	background: orange;
	margin-left: 3%;
	margin-right: 2%;
} /* 추천페이지 첫번째 게시글 폼 */



#main_cucheon_cont_2{
	width: 30%;
	float: left;
	background: orange;
	margin-right: 2%;
}

#main_cucheon_cont_3{
	width: 30%;
	float: left;
	background: orange;
}

#main_cucheon_cont_4{
	width: 30%;
	float: left;
	background: orange;
	margin-left: 3%;
	margin-right: 2%;
} 

#main_cucheon_cont_5{
	width: 30%;
	float: left;
	background: orange;
	margin-right: 2%;
} 

#main_cucheon_cont_6{
	width: 30%;
	float: left;
	background: orange;
} 
.cucheon_form{
	border-radius: 10px;
	margin-top: 50px;
}

#main_cucheon_cont_1_cont{
	background-image: url("../images/potato.jpg");
}

#main_cucheon_cont_2_cont{
	background-image: url("../images/eggplant.jpg");
}

#main_cucheon_cont_3_cont{
	background-image: url("../images/onion.jpg");
}

#main_cucheon_cont_4_cont{
	background-image: url("../images/Perilla_leaf.jpg");
}

#main_cucheon_cont_5_cont{
	background-image: url("../images/corn.jpg");
}

#main_cucheon_cont_6_cont{
	background-image: url("../images/tomato.jpg");
}

.food_img{
	witdh: 30%;
	height: 22vh;
	overflow: hidden;
	border: 1px solid black; 
	margin: calc(2.5%);
	background-size: cover;
    background-position: center;
    text-align: center;
}

.food_title{
	background-color: rgba(24, 26, 27, 0.5);
	line-height: 50px;	
	font-size: 2.5em;
	color: white;
}

.food_img_cont{
  	font-size: .8rem;
  	width: 100%;
	background-color: rgba(24, 26, 27, 0.5);
	display: none;
	line-height: center;
	color: white;
}

.food_img:hover .food_img_cont{
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 20%;
	cursor: default;

}

.food_img:hover .food_text{
	display: none;
}

.food_text{
	margin-top: 25%;
}


/* 페이지 하단 영역 */
#temp_footer {
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position: center;
}

#footer_text {
	top: 350px;
	left: 30px;
	margin-left: 50px;
}

#footer_text h3{
	margin: 0;
}

#footer_logo {
	width: 350px;
	height: 150px;
	background-repeat: no-repeat;
	top: 200px;
	left: 800px;
	margin-left: 50px;
}
#footer_logo img{
	width: 100%;
	height: 100%;
}