@charset "UTF-8";

#panel{
	margin: auto;
}

#panel-heading{
	padding-top: 1.5%;
	font-size: 300%;
	text-align: center;
	margin-top: 3%;
	border: 1px solid lightgreen;
}

#panel-body{
	background: gray;
	border-radius: 20px;
}
#panel-table{
	padding: 3%; 
	border: 1px solid orange;
}
strong{
	margin-top: 0.5%;
	margin-left: 5%;
	float: left;
	width: 20%;
}

.form-control{
	height: 2.5em;
	border: 1px solid #d9d9de;
}

.join_title{
	margin-bottom: 2%;
}

#join_post_box_1{
	float: left;
}

#join_addr_title{
	width: 7%;
	margin-left: 10%;
}

#clear{
	clear: both;
}

#join_footer{
	text-align: center;
}

#join_button{
	width: 15%;
	font-size: 1.5em;
	background: silver;
}

#join_reset_button{
	width: 15%;
	font-size: 1.5em;
	background: silver;
}
span{

}