@charset "UTF-8";

#join_body{
	margin: 0px;
}

#panel{
	margin: auto;
	width: 50%;
} /* 폼 전체 판 껍데기 */

#panel-body{
	background: gray;
	border-radius: 20px;
	width: 70%;
	margin-left: 15%;
	margin-top: 10%;
} /* 폼 전체 판 */

#panel-header{
	padding-top: 1.5%;
	font-size: 300%;
	text-align: center;
	margin-top: 3%;
	border: 1px solid lightgreen;
} /* 판 헤더 부분 (EasyCook! 회원가입) */


#panel-table{
	padding: 3%; 
	border: 1px solid orange;
} /* 판 내용물 */

.join_title{
	margin-bottom: 2%;
} /* 각 항목 글자와 입력박스 클래스 (한줄씩) */

strong{
	margin-top: 1.5%;
	margin-left: 5%;
	float: left;
	width: 25%;
} /* 각 항목 왼쪽 글자영역 */

.form-control{
	height: 2.5em;
	border: 1px solid #d9d9de;
	border-radius: 5px;
} /* 각 항목 입력 박스 */


#join_id_box{
	width: 25%;
} /* 아이디 입력박스 */

#join_email_1_box{
	width: 25%;
} /* 이메일 입력박스 첫번째 */

#join_email_2_box{
	width: 15%;	
} /* 이메일 입력박스 두번째 */

#join_email_3_box{
	width: 17.5%;	
} /* 이메일 선택박스 세번째 */

#join_post_box_2, #join_post_box_3{
	margin-left: 30%;
} /* 도로명,나머지상세주소 입력 박스*/

#join_pw_box{
	ime-mode: inactive; 
	width: 40%;
} /* 비밀번호 입력박스 */

#join_pw_check_box{
	ime-mode: inactive;
	width: 40%;
} /* 비밀번호 확인 입력박스 */

#join_name_box{
	width: 25%;
} /* 이름 입력박스 */

#join_nickname_box{
	width: 25%;
} /* 닉네임 입력박스 */

#join_pw_q_box{
	width: 41%;
} /* 비밀번호 확인 질문 선택박스 */

#join_pw_q_a_box{
	width: 40%;
} /* 비밀번호 확인 답 입력박스 */

#join_post_box_1{
	width: 15%;
} /* 우편번호 박스 */

#join_post_box_2{
	width: 40%;
} /* 도로명 주소 박스 */

#join_post_box_3{
	width: 40%;
} /* 나머지 상세주소 입력박스 */

#clear{
	clear: both;
}

#join_post_btn{
	width: 22%;
	font-size: 1.1em;
	border-radius: 10px;
	background: salmon;
	font-weight: bolder;
} /* 우편번호 찾기 버튼 */

#join_post_btn:hover{
	color: white;
}

#join_post_btn:active{
	color: lightgreen;
}

#join_footer{
	text-align: center;
} /* 판 제일 하단 가입,취소 버튼 영역*/

#join_button, #join_reset_button{
	width: 15%;
	font-size: 1.2em;
	border-radius: 10px;
	background: salmon;
	font-weight: bolder;
} /* 가입하기,취소 버튼 */

#join_button:hover, #join_reset_button:hover{
	color: white;
	cursor: pointer;
}

#join_button:active, #join_reset_button:active {
	color: lightgreen;
	cursor: pointer;
}
