@charset "UTF-8";

body{
	background-image:url('../images/picture/food_image.jpg');
	background-size: cover;
	background-position: center;
}

#mypage_heading{
	text-align: center;
	padding: 5px;
	margin-bottom: 20px;
}

#mypage_heading_title{
	font-size: 300%;
}

#info_update_button{
	margin-right:1%;
	margin-bottom:1%;
}

#table_search{
	margin-bottom:2%;
}

#mypage_post{	
	margin: auto;
	position:relative;
	bottom:20px;
	border-radius: 20px;
	width: 70%;
	background-image:url('../images/background_mypage.jpg');
	height: 300px;
	
}
#mypage_text{
	margin: auto;
	position:relative;
	border-radius: 20px;
	width: 70%;
	background-image:url('../images/background_mypage.jpg');
	height: 300px;
}


#post_ex1{
	width: 25%;
	height:60%;
	float: left;
	border:1px solid black;
	background: white;
	margin-left: 3%;
	margin-right: 2%;
}

#post_ex2{
	width: 25%;
	height:60%;
	float: left;
	border:1px solid black;
	background: white;
	margin-left: 3%;
	margin-right: 2%;
}

#post_ex3{
	width: 25%;
	height:60%;
	float: left;
	border:1px solid black;
	background: white;
	margin-left: 3%;
}

#text_ex1{
	width: 85%;
	height:14%;
	float: bottom;
	position:relative;
	top:40px;
	border:1px solid black;
	background: white;
	margin-left: 3%;
	margin-bottom: 7%;
}

#text_ex2{
	width: 85%;
	height:14%;
	float: bottom;
	border:1px solid black;
	background: white;
	margin-left: 3%;
	margin-bottom: 7%;
}

}
.btn{
	width:90px; height:25px; margin:0px 0px 0px 5px; padding:2px;
	border:1px solid black; color:black; border-radius:10px;
	background-position: center center; cursor: pointer;
}

#text_create_button{
	float:right;
}
#info_update_button{
	width:100px; height:30px;
	float:right;
}

#HomePage_button{
	width:100px; height:30px;
	float:right;
	margin-right:1%;
	
}

#page_number_control{
	text-align: center;
	margin-top:1%;
	margin-bottom:1%;
	margin-left:12%;
}
.PageNumber{
	color: black;
}
.CurrentPageNumber{
	color: blue;
}