@charset "UTF-8";
#mypage_heading{
	text-align: center;
	padding: 10px;
	margin-bottom: 60px;
}

#mypage_heading_title{
	font-size: 300%;
}

#mypage_video{
	margin: auto;
	position:relative;
	bottom:60px;
	border-radius: 20px;
	width: 70%;
	background: gray;
	height: 300px;
	
}
#mypage_text{
	margin: auto;
	position:relative;
	border-radius: 20px;
	width: 70%;
	background: gray;
	height: 300px;
}

.mypage_form{
	border-radius: 10px;
	margin-top: 50px;
}

.mypage_form1{
	border-radius: 10px;

}

#mypage_video_cont1{
	width: 30%;
	height:60%;
	float: left;
	border:1px solid black;
	background: skyblue;
	margin-left: 3%;
	margin-right: 2%;
}

#mypage_video_cont2{
	width: 30%;
	height:60%;
	float: left;
	border:1px solid black;
	background: skyblue;
	margin-right: 2%;
}

#mypage_video_cont3{
	width: 30%;
	height:60%;
	float: left;
	border:1px solid black;
	background: skyblue;
}

#mypage_video_cont4{
	width: 80%;
	height:14%;
	float: bottom;
	position:relative;
	top:25px;
	border:1px solid black;
	background: skyblue;
	margin-left: 3%;
	margin-bottom: 5%;
}

#mypage_video_cont5{
	width: 80%;
	height:14%;
	float: bottom;
	border:1px solid black;
	background: skyblue;
	margin-left: 3%;
	margin-bottom: 3%;
}

#mypage_video_cont6{
	width: 80%;
	height:14%;
	float: bottom;
	border:1px solid black;
	background: skyblue;
	margin-left: 3%;
}
#page_control{
   text-align:center; position:relative; top:5px;
}
#page_control a{
	text-decoration: none; padding:2px 5px; color:#333; margin:0px 5px;
}
#page_control a:hover{/*마우스 오버 시*/
	text-decoration: underline; color:#F90;
}
#table_search{
	float:right; margin:15px 5px 10px 0px;
}
#table_search .input_box{
	height:20px; width:200px; border:1px solid black;
	background-color:skyblue;
}
#table_search .btn{
	width:90px; height:25px; margin:0px 0px 0px 5px; padding:2px;
	border:1px solid black; color:black; border-radius:10px;
	background-position: center center; cursor: pointer;
}

#page_number_control{
	text-align: center;
}
.PageNumber{
	color: black;
}
.CurrentPageNumber{
	color: white;
}